

/* -------------Tab  Styles------------------------*/
.tab-icon {
    width: 30px; 
    height: 25px; 
  }
  
  .tab-list {
    display: flex;
    background-color: var(--blue);
    padding: 7px 1px 0px 1px;
    margin: 0;
    height:70px;
    width: 100%;
    color: #fff;
    box-shadow: rgba(20, 139, 243, 0.06) 0px 2px 4px 0px inset;
  }
  
  .tab-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 4px;  
    cursor: pointer;
    /* transition: background-color 0.3s ease, border-color 0.3s ease; */
    position: relative;
    border-radius: 10px 10px 0 0;
    flex-grow: 1; 
    text-align: center;
    height: 60px; 
    width: 140px;
    border: none;
    outline: none;
  
  }
  .selectedTab {
    background-color: white;
    border-bottom: none;
    height: 63px;
    position: relative;
    z-index: 1;
    color: var(--blue);
    /* background-color: red; */
  }
  .selectedTab::after {
    background-color: #4285f4; 
  }
  .tab-item:last-child {
    border-right: none; 
  }
  
  
  .unselectedTab {
    background-color:var(--blue);
    height: 50px; 
    height: 63px;
  }
  .unselectedTab ::before {
    content: '';
    position: absolute;
    bottom: 23px;
    left: -3px;
    width: 2px;
    height: 20px;
    background-color:var(--white); /* Match with background to give the illusion of curvature */
    border-radius:10px; /* Apply radius only on bottom edges */
    z-index: 0;
  }
  /* .tab-list:first-child{
    background-color: red;
  } */
  
  /* .unselectedTab ::after {
    content: '';
    position: absolute;
    bottom: 15px;
    right: 3px;
    width: 2px;
    height: 20px;
    background-color:blue; 
    border-radius: 0 0 10px 10px; 
  } */
  .unselectedTab .tab-content .tab-icon{
    filter: grayscale(100);
  }
  .unselectedTab:hover .tab-content{
    background-color:var(--hover);
    margin-left: -2px;
    color: var(--black);
  }
  /* .unselectedTab:hover .unselectedTab{
    background-color: red;
  } */
  
  .tab-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 15px;
    width: 100%;
    padding: 8px 3px;
    transition: all 0.2s;
    /* background-color: red; */
   
  }
  
  .tab-icon {
    width: 22px;
    height: 22px;
  }
  
  .tab-name {
    font-size: 14.5px;
    font-weight: 500;
  }
  
  
  
  /* ------------------Tab pannel--------------------------- */
  .tab_container{
    margin-top: 30px;
  }
  .tab-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-bottom: 3px solid var(--light_blue);
    gap: 2px;
    /* margin-top: 30px; */
    padding: 5px 1rem;
    transition: color 0.3s ease; /* Smooth color transition */
    color: var(--blue);
    /* background-color: red; */
  }
  
  .tab-header i {
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
    animation: moveRight 1.5s infinite ease-in-out; 
    margin-top: 2px;
    transition: all 0.3s;
  }
  
  .rotate_icon{
    rotate: 180deg;
  }
  
  @keyframes moveRight {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(3px); 
    }
  }
  .tab-header-title { 
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: var(--blue);
    text-transform: uppercase;
    
  }
  .part-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 2rem;
    transition: max-height 0.3s ease, opacity 0.3s ease; 
    overflow: hidden;
    max-height:0px; 
    opacity: 0;
    /* background-color: red; */
  }
  .part-details-grid.open {
    max-height: 500px;
    opacity: 1;
  }
  .part-details-item {
      font-size: 15px;  
      font-weight: 500;
      letter-spacing: 0.5px;
      color: var(--black);
      /* background-color: red; */
  }
  .part-details-item span{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: var(--light_black);
  }
  .tab-header:hover {
    /* transform: translateX(5px);  */
    color: #93BEFE;
    text-shadow: 0 0 8px #93BEFE; 
  }
  
  
  /* --------------- Tab bottom Section(Common)------------------ */
  
  .selected-part-details {
    font-size: 18px; 
    margin: 15px 0px; 
    background-color: red;
  }
  
  .header_right_export{
    position: relative;
    top: 24px;
  }
  .header_right_settings{
    position: relative;
    top: 24px;
  }












/* ----------------------------------------------------------------------------------------- */
/* ------------------------Devation Table-------------------- */

.dev_header{
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px;
  /* background-color: #e3f2fa; */
}
.dev_header button{
  font-size: larger;
    border: none;
    padding: 5px;
    background: #ffffff;
    cursor: pointer;
}

.dev_header button img {
  width: 35px;
  height: 35px;
}
#custom{
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}
.dev_button{
  border: none;
  background: none;
}
.dev_button img{
 color:#B1B8F1;
}


/* Style the dropdown container */

#columnDropdown.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* top: 780px; */
  right: 0px;
  z-index: 1;
  max-height: 150px; /* Adjust the height as needed */
  overflow-y: auto;  /* Adds a scrollbar if content exceeds the height */
  border: 1px solid #ccc;
  overflow-x: hidden;
  /* background-color: red; */
}

/* Style the dropdown menu */
.dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style each dropdown item */
.dropdown-menu li {
  padding: 4px 10px;
  cursor: pointer;
  display: block;
  font-size: medium;
}

/* Style for selected and unselected items */
.selected {
  background-color: #ffffff;
  color: #007bff;
  font-size: large;
}

.unselected:hover {
  background-color: #9b9a9a;
  font-size: large;
}

.TableDevIcon img {
  width: 30px;
  
}
/* Disable cursor interaction for 'disabled' items */
.disabled {
  cursor: no-drop;
  color: #a9a9a9;
  font-size: large;
}

#exportDropdown.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* top: 780px; */
  right: 0px;
  border: 1px solid #ccc;
  border-radius: 4px; /* Optional: adds rounded corners */
  padding: 5px 0;
}
#exportDropdown.dropdown-content-popup {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100px;
  right: 70px;
  border: 1px solid #ccc;
  border-radius: 4px; /* Optional: adds rounded corners */
  padding: 5px 0;
}
#columnDropdown.dropdown-content-popup-column-addRemove {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100px;
  right: 40px;
  border: 1px solid #ccc;
  border-radius: 4px; /* Optional: adds rounded corners */
  padding: 5px 0;
}

.exportdropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style each dropdown item */
.exportdropdown-menu li {
  padding: 4px 10px;
  cursor: pointer;
  display: block;
  color: #333; /* Text color */
  text-align: left; /* Align text to the left */
}

/* Hover effect for dropdown items */
.exportdropdown-menu li:hover {
  background-color: #cccaca;
}


/* General styles for the slide-in page */

.slide-in-page {
  position: fixed;
  right: 0;
  top: 0;
  /* width: 700px; */
  height: 100%;
  background-color: #f4f6f8;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
}

.slide-in-page.open {
  transform: translateX(0);
}

/* Header styles */
.header {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
}

.header .closebutton,
.header .pdfbutton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.header .pdfbutton img,
.header .closebutton img {
  width: 20px;
  height: 20px;
}

/* Content styles */
.content {
  padding: 5px;
}

/* Section styles */
.section {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
}

.section h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  color: #4a4a4a;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 5px;
  background-color: #e0e8f5;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

/* Row styles */
.row:last-child {
  border-bottom: none;
  display: contents;
}

.value:empty::before {
  content: '-'; /* Show a dash if the value is empty */
  color: #ccc;
}

/* Field-group styles */
.field-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 8px;
}
.full-width {
  flex-basis: 100%;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  color: #008AE5;
  
}

.value {
  color: #333;
    display: flex;
    padding-left: 240px;
    margin-top: -23px;
    margin-bottom: 0px;
}

/* Adjust popup overlay for center alignment and full page coverage */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures the popup is on top */
}

/* Adjust popup content size and styling */
.popup-content {

  max-width: 1000px; /* Set a maximum width */
  height: 80%; /* Increase height to 80% of the viewport */
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  overflow: hidden; /* Prevent overflow */
  width: 100%;
  max-width: 1000px;
  max-height: 800px;
}




/* Ensure the popup content fills more space */

/* Ensure the data table wrapper expands */
.table {
  flex-grow: 1; /* Allow table to grow and fill the available space */
  overflow: auto; /* Enable scrolling if content overflows */
  padding: 10px; /* Optional padding for spacing */
}

/* Adjust the table itself */
.sc-fcVfYk, .sc-hzNkqB, .sc-ayhYB {
  width: 100%; /* Make sure all container elements expand to fill width */
  height: 100%; /* Make sure all container elements expand to fill height */
  display: flex; /* Flex display to align content properly */
  flex-direction: column; /* Arrange children in a column */
}
/* Popup header styling */
.popup-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #e3f2fa;
  margin-top: 30px;
}


.popup-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
}

.data-table-container {
  margin-top: 8px;
  flex-grow: 1;
  overflow: auto;
  padding-bottom: 20px;
}

.table-wrapper {
  overflow-x: auto; /* Allows horizontal scrolling if table is too wide */
}

/* Button container for Export */
.popup_Export {
  display: flex;
  align-items: center;
  /* margin-right: 20px; */
}

/* Button container for Column Add/Remove */
.popup_Add_Remove_Column {
  display: flex;
  align-items: center;
}

/* Styling for command buttons */
.popup-command-button {
  font-size: larger;
  border: none;
  padding: 5px;
  background: #def3fa;
}

/* .popup-command-button:hover {
  background-color: #e0e0e0;
} */

/* Image styling inside buttons */
.popup-command-button img {
 
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.listicon{
  width: 20px;
   
}


.Iconheader{
  width:100%;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding:5px 8px;
  gap: 16px;
  size: 20%;
  }

  .expandDiagonalIcon{
    width: 26px;
    margin-bottom: -5px;
  }
  .header_Icon_set{
    font-size: 25px;
  }
  .gjoprN{
    padding-right: 2px;
  }

  
  
  .EBOM_header{
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px;
    /* background-color: #e3f2fa; */
  }
  .EBOM_header button{
    font-size: larger;
      border: none;
      padding: 5px;
      background: #ffffff;
      cursor: pointer;
  }
  
  .EBOM_header button img {
    width: 35px;
    height: 35px;
  }
  
  
  
  /* ----------------my styling----------- */
  .dev_header_right_settings{
    background-color: red;
  }
  
  
  
  
  
  