:root{
    --white:#fff;
    --black:#0F0F0F;
    --blue:#1889e6;
    --light_black:#606060;
    --hover:#F2F2F2;
    --light_blue:#D1E0FF;
    --ligt_red:#f88c8c;
    --dark_red:rgb(250, 81, 81);
   }
  