@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Jost", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Inter", sans-serif; */
  /* font-family: "DM Sans", sans-serif; */

  /* font-family: "IBM Plex Sans", sans-serif; */
}

body{
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  user-select: none;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
/* Default Theme */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: #f0f0f0;
  --button-bg: #007bff;
  --button-text: #ffffff;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
  --header-bg: #222222;
  --button-bg: #1a73e8;
  --button-text: #ffffff;
}

/* Light Theme */
[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: #f0f0f0;
  --button-bg: #007bff;
  --button-text: #ffffff;
}
